<template>
  <b-overlay :show="true" rounded="sm">
    <b-skeleton-img height="120px" no-aspect></b-skeleton-img>
    <template #overlay>
      <div class="text-center">
        <p><b-icon icon="stopwatch"></b-icon> To be announced...</p>
      </div>
    </template>
  </b-overlay>
</template>

<script>
export default {
  name: "tba"
}
</script>

<style scoped>

</style>