@border-color: #dee2e6;
@caption-background: rgba(255, 255, 255, 0.71);


// Based on Bootstrap responsive queries
@media-xs-max: 575.98px;
@media-sm-min: 576px;
@media-sm-max: 767.98px;
@media-md-min: 768px;
@media-md-max: 991.98px;
@media-lg-min: 992px;
@media-lg-max: 1199.98px;
@media-xl-min: 1200px;

@xs-only: ~"only screen and (max-width: @{media-xs-max})";

@sm-only: ~"only screen and (min-width: @{media-sm-min}) and (max-width: @{media-sm-max})";
@sm-and-below: ~"only screen and (max-width: @{media-sm-max})";
@sm-and-up: ~"only screen and (min-width: @{media-sm-min})";

@md-only: ~"only screen and (min-width: @{media-md-min}) and (max-width: @{media-md-max})";
@md-and-below: ~"only screen and (max-width: @{media-md-max})";
@md-and-up: ~"only screen and (min-width: @{media-md-min})";

@lg-only: ~"only screen and (min-width: @{media-lg-min}) and (max-width: @{media-lg-max})";
@lg-and-below: ~"only screen and (max-width: @{media-lg-max})";
@lg-and-up: ~"only screen and (min-width: @{media-lg-min})";

@xl-only: ~"only screen and (min-width: @{media-xl-min})";
